@model List<CategoryDto>

<div class="section">
    <div class="container">
        <div class="categories-block">
            @foreach (var category in Model)
            {
                <a class="service-tag" asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id">
                    <h5 class="service-tag-text">@category.Name</h5>
                </a>
            }
        </div>
    </div>
</div>